In [3]:
import pandas as pd

test = {
    "credit_policy": 1,
    "purpose": "credit_card",
    "int_rate": 0.075,
    "installment": 250.0,
    "log_annual_inc": 10.2,
    "dti": 16.87,
    "fico": 720,
    "days_with_cr_line": 2500.0,
    "revol_bal": 5000,
    "revol_util": 23.0,
    "inq_last_6mths": 2,
    "delinq_2yrs": 0,
    "pub_rec": 0
}

data = pd.DataFrame(test, index=[0])

all_purpose = ['major_purchase', 'all_other', 'debt_consolidation', 'credit_card', 'home_improvement', 'small_business', 'educational']

In [4]:
all_purpose.sort()
all_purpose

['all_other',
 'credit_card',
 'debt_consolidation',
 'educational',
 'home_improvement',
 'major_purchase',
 'small_business']

In [12]:
data

X_test_e = pd.get_dummies(data=data)
X_test_e

,credit_policy,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,purpose_credit_card
0,1,0.075,250.0,10.2,16.87,720,2500.0,5000,23.0,2,0,0,True

In [25]:

for purpose in all_purpose:
    data[f'purpose_{purpose}'] = data['purpose'].apply(lambda x: True if x == purpose else False)

data = data.drop('purpose', axis=1)

data

,credit_policy,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,purpose_all_other,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.075,250.0,10.2,16.87,720,2500.0,5000,23.0,2,0,0,False,True,False,False,False,False,False

In [5]:
def transform(test):
   def log_transform(data, to_log):
      X = data.copy()
      for item in to_log:
         # Add 1 to the data to prevent infinity values
         X[item] = np.log(1+X[item])
      return X
      
   X_test = test
   # Split col by data type
   # X_test_e = pd.get_dummies(data=X_test)
   all_purpose = ['all_other', 'credit_card', 'debt_consolidation', 'educational', 'home_improvement', 'major_purchase', 'small_business']

   for purpose in all_purpose:
      X_test[f'purpose_{purpose}'] = X_test['purpose'].apply(lambda x: True if x == purpose else False)

   X_test_e = X_test.drop(['purpose'], axis=1)
   X_test_e = X_test_e.drop(['purpose_all_other'], axis=1)

   to_log = ['credit_policy', 'int_rate', 'installment', 'dti', 'fico', 'days_with_cr_line', 'revol_bal', 'revol_util', 'inq_last_6mths', 'delinq_2yrs', 'pub_rec']

   X_test_e_l = log_transform(X_test_e, to_log)
   X_test_e_l_n = pd.DataFrame(data=X_test_e_l, index=X_test_e.index, columns=X_test_e.columns)

   return X_test_e_l_n

In [6]:

import numpy as np
cols = ['credit_policy', 'purpose', 'int_rate', 'installment', 'log_annual_inc', 'dti', 'fico', 'days_with_cr_line', 'revol_bal', 'revol_util', 'inq_last_6mths', 'delinq_2yrs', 'pub_rec']
test_1 = [1,"debt_consolidation", 0.1122, 507.46, 10.59663473, 13.5,712, 5368.958333, 6513,34.3, 3, 0, 1]

df = pd.DataFrame(np.array([test_1]), columns=cols)
df

,credit_policy,purpose,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec
0,1,debt_consolidation,0.1122,507.46,10.59663473,13.5,712,5368.958333,6513,34.3,3,0,1

In [10]:
test = {
        "credit_policy": 1,
        "days_with_cr_line": 5368.958333,
        "delinq_2yrs": 0,
        "dti": 13.5,
        "fico": 712,
        "inq_last_6mths": 3,
        "installment": 507.46,
        "int_rate": 0.1122,
        "log_annual_inc": 10.59663473,
        "pub_rec": 1,
        "purpose": "debt_consolidation",
        "revol_bal": 6513,
        "revol_util": 34.3	
}
df_str = pd.DataFrame(test, index=[0])
df_str.info()
df_str.dtypes.to_dict()
# df_str.astype()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit_policy      1 non-null      int64
 1   days_with_cr_line  1 non-null      float64
 2   delinq_2yrs        1 non-null      int64
 3   dti                1 non-null      float64
 4   fico               1 non-null      int64
 5   inq_last_6mths     1 non-null      int64
 6   installment        1 non-null      float64
 7   int_rate           1 non-null      float64
 8   log_annual_inc     1 non-null      float64
 9   pub_rec            1 non-null      int64
 10  purpose            1 non-null      object
 11  revol_bal          1 non-null      int64
 12  revol_util         1 non-null      float64
dtypes: float64(6), int64(6), object(1)
memory usage: 112.0+ bytes

{'credit_policy': dtype('int64'),
 'days_with_cr_line': dtype('float64'),
 'delinq_2yrs': dtype('int64'),
 'dti': dtype('float64'),
 'fico': dtype('int64'),
 'inq_last_6mths': dtype('int64'),
 'installment': dtype('float64'),
 'int_rate': dtype('float64'),
 'log_annual_inc': dtype('float64'),
 'pub_rec': dtype('int64'),
 'purpose': dtype('O'),
 'revol_bal': dtype('int64'),
 'revol_util': dtype('float64')}

In [59]:
transform(df_str)

,credit_policy,days_with_cr_line,delinq_2yrs,dti,fico,inq_last_6mths,installment,int_rate,log_annual_inc,pub_rec,revol_bal,revol_util,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,0.693147,8.588575,0.0,2.674149,6.569481,1.386294,6.231387,0.10634,10.596635,0.693147,8.781709,3.563883,False,True,False,False,False,False

In [60]:
import pickle
with open("/home/thanhdxn/Documents/bank-mining/analysis/loan_app/workspace/logistic_regression_(improved).pkl", 'rb') as f:
   lr = pickle.load(f)

mask = lr.feature_names_in_.tolist()
df_str[mask]
lr.predict().t

,credit_policy,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1122,507.46,10.596635,13.5,712,5368.958333,6513,34.3,3,0,1,False,True,False,False,False,False